# File specifici di Android Studio / IDE
*.iml
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/caches
.idea/shelf
.idea/
.DS_Store

# File di build e output
.gradle/
build/
/captures
*.apk
*.aar
*.bundle

# Configurazione locale (SDK path, API keys)
local.properties

# Backup e log
*.log

# Firebase config
app/google-services.json