<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TriSense">
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DecibelJumpActivity"
            android:exported="true"
            android:parentActivityName=".activities.Game1Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Game3Activity"
            android:parentActivityName=".activities.GameSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FlashReflexActivity"
            android:exported="false"
            android:parentActivityName=".activities.Game2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.Game2Activity"
            android:parentActivityName=".activities.GameSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Game1Activity"
            android:parentActivityName=".activities.GameSelectionActivity"

            android:exported="false" />




        <activity
            android:name=".activities.ProfileActivity"
            android:parentActivityName=".activities.GameSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GameSelectionActivity"
            android:exported="false" />
    </application>

</manifest>